<div class="slim-mainpanel mt-2">
  <div class="container">
    <!-- <div class="dash-headline-two">
      <div>
        <h4 class="tx-inverse section-title tx-normal">
          Buen día, {{ authservice.displayName }}!
        </h4>
        <p class="tx-primary tx-normal">
          {{ fecha | date: 'fullDate' }}
        </p>
  </div> -->

    <div class="row mt-n">
      <div class="col-md-12">
        <h3 class="section-title tx-bold text-primary mb-3">MI HISTORIAL DE SOLICITUDES REALIZADAS</h3>
        <table id="listadoTickets" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="row-border hover table tx-normal">
          <thead>
            <tr>
              <th class="text-center tx-bold">Ticket ID</th>
              <th class="text-center tx-bold">Tipo de servicio</th>
              <th class="text-center tx-bold">Descripción</th>
              <th class="text-center tx-bold">Status</th>
              <th class="text-center tx-bold">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of usuario.tickets; let i = index">
              <td class="text-center tx-normal fixPaddingCol">
                U-{{ ticket.id_ticket }}
              </td>
              <td class="fixLineHeightText tx-normal">{{ ticket.servicio?.servicio }}</td>
              <td class="fixLineHeightText tx-normal">{{ ticket.descripcion }}</td>
              <td class="text-center fixLineHeightText tx-boldx"
                  [ngClass]="{
                    colorBlue: ticket.status === 'Abierto',
                    colorGreen: ticket.status === 'Realizado',
                    colorPurple: ticket.status === 'En proceso',
                    colorYellow: ticket.status === 'N/A'
              }">
                {{ ticket.status }}
              </td>
              <td>
                <div class="row fixMarginRow">
                  <div class="col-12">
                    <div class="btn-demo">
                      <a class="btn btncustom" [routerLink]="['/detalle-solicitud', ticket.id_ticket]" placement="top"
                        ngbTooltip="Ver detalles">
                        <i class="btnexotic far fa-eye"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>