<div class="slim-mainpanel mt-5">
  <div class="container">
    
    <div class="dash-headline-two">
      <div>
        <h4 class="tx-inverse mg-b-5">Buen día, {{authservice.displayName}}!</h4>
        <p class="mg-b-0">{{ fecha | date:'fullDate' }}</p>
      </div>
      <div class="d-h-t-right">
        <div class="summary-item">
          <h1>$1,433</h1>
          <span>Earnings<br>for today</span>
        </div>
        <div class="summary-item">
          <h1>$296</h1>
          <span>Expenses<br>for today</span>
        </div>
      </div>
    </div>

    <div class="nav-statistics-wrapper">
      <nav class="nav">
        <a href="" class="nav-link active">Overview</a>
        <a href="" class="nav-link">Employee</a>
        <a href="" class="nav-link">Products</a>
        <a href="" class="nav-link">Misc</a>
      </nav>
      <nav class="nav">
        <a href="" class="nav-link">Today</a>
        <a href="" class="nav-link active">This Week</a>
        <a href="" class="nav-link">This Month</a>
      </nav>
    </div>

    <div class="row row-statistics mg-b-30">
      <div class="col-md-5">
        <h1 class="tx-inverse tx-56 tx-lato tx-bold">34,100</h1>
        <h6 class="tx-15 tx-inverse tx-bold mg-b-20">Total hours spent (7 days)</h6>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem</p>
        <p class="tx-12">
          <a href="">View Details</a>
          <a href="">Edit Settings</a>
        </p>
      </div>
      <div class="col-md-7 mg-t-20 mg-md-t-0">
        <canvas id="chartBar1" height="280"></canvas>
      </div>
    </div>

  </div>
</div>