<div class="slim-mainpanel">
  <div class="container">
    <div class="section-wrapper mt-5">
      <label class="section-title tx-normal text-primary">Crear ubicacion</label>
      <form class="form-layout" #updateUbicacion="ngForm" (submit)="actualizarUbicacion()">
        <div class="row mg-b-25">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label section-label tx-normal">Nombre de la ubicación: <span
                  class="tx-danger">*</span></label>
              <input class="form-control section-label tx-normal" type="text" name="ubicacion"
                [(ngModel)]="ubicacion.ubicacion" placeholder="Ubicación" required />
            </div>
          </div>
          <div class="col-6 text-right">
            <button class="btn btn-teal bd-0" [disabled]="!updateUbicacion.form.valid">
              Actualizar
            </button>
            <button class="btn btn-secondary bd-0 ml-2" [routerLink]="['/admin/ubicaciones']">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>