<div class="slim-mainpanel">
  <div class="container">
    <div class="section-wrapper mt-5">
      <label class="section-title tx-normal text-primary mb-5">Editar departamento</label>
      <form class="form-layout" #updateDptoForm="ngForm" (submit)="actualizarDepartamento()">
        <div class="row mg-b-25">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label section-label tx-normal">Área/Departamento: <span
                  class="tx-danger">*</span></label>
              <input class="form-control section-label tx-normal" type="text" name="dpto_name" #dpto_name="ngModel"
                [(ngModel)]="departamento.departamento" placeholder="Inserta el departamento" required />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group mg-b-10-force">
              <label class="form-control-label section-label tx-normal">Ubicación: <span
                  class="tx-danger">*</span></label>
              <select class="form-control select2 section-label tx-normal" [(ngModel)]="departamento.ubicacion_id"
                name="ubicacion" required>
                <option class=" section-label tx-normal" *ngFor="let ubicacion of ubicaciones"
                  [value]="ubicacion.id_ubicacion">
                  {{ ubicacion.ubicacion}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-layout-footer">
          <div class="row">
            <div class="col-12 text-right">
              <button class="btn btn-teal bd-0" [disabled]="!updateDptoForm.form.valid">
                Actualizar
              </button>
              <button class="btn btn-secondary bd-0 ml-2" [routerLink]="['listado-departamentos']">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
      <p class="section-label tx-normal mg-t-5">Integrantes del departamento</p>
      <table class="table table-reference">
        <thead>
          <tr>
            <th class="wd-40p tx-normal">Nombre</th>
            <th class="wd-60p tx-normal">Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dpto of departamento.usuarios">
            <td class="tx-normal">{{ dpto.displayName }}</td>
            <td class="tx-normal">{{ dpto.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>