<div class="slim-mainpanel">
  <div class="container pd-t-30">
    <app-menucontrolpanel></app-menucontrolpanel>
    <h1 class="section-title text-primary">Estadisticas</h1>
    <div class="section-wrapper mg-t-20">
      <div class="dash-headline-two mt-3 mb-3">
        <div></div>
        <div class="d-h-t-right">
          <div class="summary-item">
            <h1 class="txteal">{{ totalTickets }}</h1>
            <span class="tx-black">Solicitudes<br />totales</span>
          </div>
        </div>
      </div>
    </div>

    <app-estadisticas-fechas></app-estadisticas-fechas>
    <app-graphservicios></app-graphservicios>
    <app-graphstatus></app-graphstatus>
    <app-graphdepartamentos></app-graphdepartamentos>
  </div>
</div>
