<svg width="100%" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
    class="lds-progress">
    <defs>
        <clipPath x="0" y="0" width="100" height="100" id="lds-progress-cpid-461fafd09def">
            <rect x="0" y="0" width="63.4801" height="100">
                <animate attributeName="width" calcMode="linear" values="0;100;100" keyTimes="0;0.5;1" dur="10"
                    begin="0s" repeatCount="indefinite"></animate>
                <animate attributeName="x" calcMode="linear" values="0;0;100" keyTimes="0;0.5;1" dur="10" begin="0s"
                    repeatCount="indefinite"></animate>
            </rect>
        </clipPath>
    </defs>
    <path fill="none" stroke-width="2.7928"
        d="M82,63H18c-7.2,0-13-5.8-13-13v0c0-7.2,5.8-13,13-13h64c7.2,0,13,5.8,13,13v0C95,57.2,89.2,63,82,63z"
        stroke="rgba(26.424398857994337%,74.66604992662019%,84.04637096774194%,0.907)"></path>
    <path
        d="M81.3,58.7H18.7c-4.8,0-8.7-3.9-8.7-8.7v0c0-4.8,3.9-8.7,8.7-8.7h62.7c4.8,0,8.7,3.9,8.7,8.7v0C90,54.8,86.1,58.7,81.3,58.7z"
        fill="#689cc5" clip-path="url(#lds-progress-cpid-461fafd09def)"></path>
</svg>