<div class="slim-navbar bg-transparent border-bottom-0">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link-pc tx-bold" [routerLink]="['/listado-tickets']">
          <span>Solicitudes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link-pc tx-bold" [routerLink]="['/estadistica']">
          <span>Estadisticas</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link-pc tx-bold" [routerLink]="['/listado-usuarios']">
          <span>Usuarios</span>
        </a>
      </li>
      <li class="nav-item with-sub">
        <a href="" class="nav-link-pc tx-bold" data-toggle="dropdown">
          <span>Departamentos</span>
        </a>
        <div class="sub-item tx-normal">
          <ul>
            <li>
              <a [routerLink]="['/agregar-departamento']"
                >Agregar departamento</a
              >
            </li>
            <li>
              <a [routerLink]="['/listado-departamentos']"
                >Listado departamentos</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
