<div class="slim-mainpanel mt-5">
  <div class="container">
    <div class="dash-headline-two">
      <div>
        <h4 class="tx-inverse tx-normal mg-b-5">
          Buen día, {{ usuario.displayName }}!
        </h4>
        <span class="mg-b-0 tx-normal tx-primary">Departamento: </span>
        <span class="mg-b-0 tx-normal">{{
          usuario.departamento.departamento
        }}</span>
        <br />
        <span class="mg-b-0 tx-normal tx-primary">Huella digital única: </span>
        <span class="mg-b-0 tx-normal">{{ usuario.uid }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="section-title tx-bold text-primary"
          >MI HISTORIAL DE SOLICITUDES REALIZADAS</label
        >
        <table
          id="listadoTickets"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover table tx-normal"
        >
          <thead>
            <tr>
              <th class="text-center tx-bold">Ticket ID</th>
              <th class="text-center tx-bold">Tipo de servicio</th>
              <th class="text-center tx-bold">Descripción</th>
              <!-- <th class="text-center">Atendio</th> -->
              <th class="text-center tx-bold">Status</th>
              <th class="text-center tx-bold">Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of usuario.tickets; let i = index">
              <td class="text-center tx-normal fixPaddingCol">
                UPPE-{{ ticket.id_ticket }}
              </td>
              <td class="tx-normal fixPaddingCol">{{ ticket.servicio }}</td>
              <td class="tx-normal fixPaddingCol">{{ ticket.descripcion }}</td>
              <!-- <td>{{ ticket.tecnico }}</td> -->
              <td
                class="text-center tx-bold fixPaddingCol"
                [ngClass]="{
                  colorBlue: ticket.status === 'Abierto',
                  colorYellow: ticket.status === 'Proceso',
                  colorGreen: ticket.status === 'Realizado'
                }"
              >
                {{ ticket.status }}
              </td>
              <td>
                <div class="row fixMarginRow">
                  <div class="col-12">
                    <div class="btn-demo">
                      <a
                        class="btn btncustom"
                        [routerLink]="['/detalles-solicitud', ticket.id_ticket]"
                        placement="top"
                        ngbTooltip="Ver detalles"
                      >
                        <i class="btnexotic far fa-eye"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
