<div class="slim-mainpanel">
  <div class="container">
    <app-menucontrolpanel></app-menucontrolpanel>
    <div class="section-wrapper mg-t-20">
      <form class="form-layout form-layout-2" #updateTicketForm="ngForm" (submit)="updateTicket()">
        <div class="row no-gutters">

          <div class="col-md-12">
            <div class="form-group text-center border-0">
              <img src="./assets/img/logo_uppe.png" width="100" alt="logouppe">
            </div>
          </div>
          <div class="col-md-12">
                <h6 class="position-name text-center tx-teal tx-20 font-weight-light">SERVICIO DE SOPORTE TÉCNICO</h6>
            </div>
          <div class="col-md-4">
            <div class="form-group border-0">
              <label class="form-control-label">Status: <span class="tx-danger">*</span></label>
              <select id="select2-a" class="form-control" name="stat" [(ngModel)]="ticket.status">
                <option *ngFor="let status of estados" [value]="status.status">
                  {{status.status}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group border-0">
                <label class="form-control-label text-center"><span class="tx-danger">TICKET ID: UPPE-{{ticket.id_ticket}}</span></label>
              </div>
            </div>
          <div class="col-md-4">
            <div class="form-group text-right border-0">
              <label class="form-control-label">Fecha de creación: {{ticket.created_at | date : 'mediumDate' |
                uppercase}}</label>
            </div>
          </div>
          <div class="col-md-4 mg-t--1">
            <div class="form-group">
              <label class="form-control-label">Solicitante: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="solicitante" [(ngModel)]="ticket.displayName" placeholder="Inserta tu nombre">
            </div>
          </div>
          <div class="col-md-4 mg-t--1">
            <div class="form-group mg-md-l--1">
              <label class="form-control-label">Correo electrónico: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="email" [(ngModel)]="ticket.email" placeholder="Inserta tu correo institucional">
            </div>
          </div>
          <div class="col-md-4 mg-t--1">
            <div class="form-group mg-md-l--1">
              <label class="form-control-label">Departamento: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="departamento" [(ngModel)]="ticket.departamento" placeholder="Inserta tu departamento">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group bd-t-0-force">
              <label class="form-control-label">Tipo de servicio: <span class="tx-danger">*</span></label>
              <select id="select2-a" class="form-control" name="servicio" [(ngModel)]="ticket.servicio">
                <option *ngFor="let servicio of servicios" [value]="servicio.servicio">
                  {{servicio.servicio}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group mg-md-l--1 bd-t-0-force">
              <label class="form-control-label">Descripción: <span class="tx-danger">*</span></label>
              <textarea rows="5" class="form-control" name="descripcion" [(ngModel)]="ticket.descripcion" placeholder="Describe tu problema presentado."></textarea>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group bd-t-0-force  mg-md-l--1">
              <label class="form-control-label">Diagnóstico: <span class="tx-danger">*</span></label>
              <textarea rows="5" class="form-control" name="diagnostico" [(ngModel)]="ticket.diagnostico" placeholder="Detalles de la solución al problema."></textarea>
            </div>
          </div>
          <div class="col-md-4 mg-t--1">
            <div class="form-group mg-md-l--1">
              <label class="form-control-label">Atendio: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="tecnico" [(ngModel)]="ticket.tecnico">
            </div>
          </div>
        </div>
        <div class="form-layout-footer bd pd-20 bd-t-0">
          <div class="row">
            <div class="col-12 text-right">
              <button class="btn btn-teal bd-0" [disabled]="!updateTicketForm.form.valid">Cerrar ticket</button>
              <button class="btn btn-secondary bd-0 ml-2" [routerLink]="['/listado-tickets']">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>