// login
.signin-left {
    background: url('https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    background-size: cover;
    background-position: center center;
}

.signin-right {
    z-index: 2;
}

.signin-box {
    background: rgba(255, 255, 255, .9)
}

// title 
.slim-logo {
 color: teal;
 font-weight: 300 !important;
}
.slim-logo span {
 font-weight: 100 !important;
}

// links
.nav-link {
    cursor: pointer
}
.slim-navbar .sub-item ul a {
    cursor: pointer;
}

.nav-link-pc {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .7px;
    font-weight: 500;
    color: #273c75 !important;
    height: 46px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-right-width: 0;
}
// icons
.fas {
    padding-right: .8em;
}
// formularios
.card {
    border: none !important
}
// Datatable
.fixMarginRow {
    margin: 0 !important;
}
.fixPaddingCol {
    padding: 5px !important
}
.table.dataTable tbody tr {
    line-height: 3em !important;
}
// modal sweetalert
.swal2-popup {
    font-size: .8rem !important;
}