// login
.signin-left {
    background: url('https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    background-size: cover;
    background-position: center center;
}

.signin-right {
    z-index: 2;
}

.signin-box {
    background: rgba(255, 255, 255, .9)
}

// title 
.slim-logo {
 color: teal;
 font-weight: 300 !important;
}
.slim-logo span {
 font-weight: 100 !important;
}

// links
.nav-link {
    cursor: pointer
}
// icons
.fas {
    padding-right: .8em;
}