<div class="slim-navbar">
  <div class="container">
    <ul class="nav">
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">
          <i class="icon ion-ios-analytics-outline"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['']">
          <i class="icon ion-ios-gear-outline"></i>
          <span>Solicitar servicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">
          <i class="icon ion-ios-gear-outline"></i>
          <span>Historial</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">
          <i class="icon ion-ios-analytics-outline"></i>
          <span>Contacto</span>
        </a>
      </li>
    </ul>
  </div><!-- container -->
</div>