<div class="slim-mainpanel mt-5">
  <div class="container">
    <label class="section-title">LISTADO DE USUARIOS</label>
    <table
      id="listadoUsuarios"
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover table"
    >
      <thead>
        <tr>
          <th style="width: 5%" class="text-center tx-bold">#</th>
          <th style="width: 25%" class="text-center tx-bold">Nombre</th>
          <th style="width: 25%" class="text-center tx-bold">Email</th>
          <th style="width: 30%" class="text-center tx-bold">Departamento</th>
          <th style="width: 15%" class="text-center tx-bold">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
          <td class="fixLineHeightText tx-normal">{{ i + 1 }}</td>
          <td class="fixLineHeightText tx-normal">{{ usuario.displayName }}</td>
          <td class="fixLineHeightText tx-normal">{{ usuario.email }}</td>
          <td class="fixLineHeightText tx-normal">
            {{ usuario.departamento?.departamento }}
          </td>
          <td>
            <div class="row fixMarginRow">
              <div class="col-6">
                <div class="btn-demo">
                  <a
                    class="btn btncustom"
                    [routerLink]="['/admin/editar-usuario', usuario.uid]"
                  >
                    <i
                      class="btnsuccess far fa-edit"
                      placement="top"
                      ngbTooltip="Editar"
                    ></i>
                  </a>
                </div>
              </div>
              <div class="col-6">
                <div class="btn-demo">
                  <a class="btn btncustom" (click)="borrarUsuario(usuario.uid)">
                    <i
                      class="btndanger far fa-trash-alt"
                      placement="top"
                      ngbTooltip="Eliminar"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
