<div class="slim-mainpanel">
  <div class="container">
    <div class="row row-sm row-timeline mg-t-40">
      <div class="col-lg-9">
        <div class="card pd-30">
          <div class="timeline-group">
            <div class="timeline-item timeline-day">
              <div class="timeline-time">&nbsp;</div>
              <div class="timeline-body">
                <p class="timeline-date">Versiones</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-time">v. 3.1.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">ADJUNTAR ARCHIVOS</a>
                </p>
                <ul>
                  <li>Nueva caracteristica para adjuntar archivos</li>
                  <li>Actualización método login cuando detecta rol</li>
                  <li>Componente loading con animación</li>
                </ul>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-time">v. 3.0.2</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">GENERAL</a>
                </p>
                <ul>
                  <li>Fix bug this.ngZone.run</li>
                  <li>Fix minor on guardaUsuarioEnBD()</li>
                </ul>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-time">v. 3.0.1</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">GENERAL</a>
                </p>
                <ul>
                  <li>Reubicación de métodos, contructor a onInit</li>
                </ul>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-time">v. 3.0.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">GENERAL</a>
                </p>
                <ul>
                  <li>Actualización a Angular v8</li>
                  <li>Se reubica lógica para comprobar/guardar/actualizar usuario, de dashboard.ts a auth.service.ts
                  </li>
                  <li>Se corrigen errores en la lógica al guardar/actualizar usuario nuevo</li>
                </ul>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-time">v. 2.1.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">GENERAL</a>
                </p>
                <ul>
                  <li>Actualización auth.guard</li>
                  <li>Implementación de rol.guard</li>
                  <li>Deshabilitado: preloadingStrategy: PreloadAllModules</li>
                  <li>Corrección errores menores</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v. 2.0.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">GENERAL</a>
                </p>
                <ul>
                  <li>Modificar métodos API´s</li>
                  <li>CRUD roles, servicio y ubicación</li>
                  <li>Nuevas vistas para estadísticas</li>
                  <li>Nuevo ménu a nivel administrador</li>
                  <li>Nuevas gráficas</li>
                  <li>Actualización de rutas</li>
                  <li>Modificaciones menores en CSS</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v. 1.2.1</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">Update LazyLoading</a>
                </p>
                <ul>
                  <li>
                    Precarga de todos los módulos - preloadingStrategy:
                    PreloadAllModules
                  </li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v. 1.2.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">LazyLoading</a>
                </p>
                <ul>
                  <li>Implementación Lazy Loading</li>
                  <li>Implementación scrollPositionRestoration</li>
                  <li>Eliminar componentes no usados</li>
                  <li>Crear shared module para ménu administrador</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v. 1.1.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">Vistas y librerías</a>
                </p>
                <ul>
                  <li>Instalación de ngBootstrap</li>
                  <li>Instalación de Angular Material</li>
                  <li>Actualización en css</li>
                  <li>Vista estadísticas (por período, generales)</li>
                  <li>Vista para ver detalles de ticket en administrador</li>
                  <li>Vista detalles ticket usuario</li>
                  <li>Actualizar menu de administrador</li>
                  <li>Angular Material DatePicker</li>
                  <li>ngBootstrap tooltips</li>
                  <li>DatePicker para estadísticas</li>
                  <li>Correción de errores menores</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v. 1.0.1</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">Update vistas</a>
                </p>
                <ul>
                  <li>Vista detalles de ticket</li>
                  <li>Cambio de gráfica status</li>
                  <li>Actualización de botones en listados</li>
                  <li>Actualización de scss styles</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v.1.0.0</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">1.0.0</a>
                </p>
                <ul>
                  <li>Version estable</li>
                </ul>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-time">v.beta</div>
              <div class="timeline-body">
                <p class="timeline-title">
                  <a href="">1.0.0.beta</a>
                </p>
                <ul>
                  <li>Service para alertas</li>
                  <li>Método login detactando/bloqueando alumnos al sistema</li>
                  <li>CRUD a través de la API</li>
                  <li>API REST con Laravel</li>
                  <li>CSS theme Slim</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>